 header. Header{
    background-color: whitesmoke 
    display;  flex;
justify-content; space-between;
align-items: center;;
position: relative
width: 100%
}

nav.Inline {
    display: inline-block;
    float: center;
    }

    div.Nav {
        display: inline;
        position: relative;
        text-align: center;
        padding:
    }
    section.Yellow {
        background-color:: Green
        display: block;
        padding: 10px;

    }

div.Sec {
background-color: white;
margin:25px  25 px  25px
padding: 10px 10px;


}h1.color{
    color: Darkgreen;


    div.image{
        display:  inline-block

    }
}


div.col1 {
    display: inline-block;
}background-image:image<a/>
background-position:center;
background-repeat: no-repeat
position:relative
background-size: cover;
width: 250px;
height: 250px:


div.col2 {
    display: inline-block;
}background-image:image<a/>
background-position:center;
background-repeat: no-repeat
position:relative
background-size: cover;
width: 250px;
height: 250px:

div.col3 {
    display: inline-block;
}background-image:image<a/>
background-position:center;
background-repeat: no-repeat
position:relative
background-size: cover;
width: 250px;
height: 250px:

div.col4 {
    display: inline-block;
}background-image:image<a/>
background-position:center;
background-repeat: no-repeat
position:relative
background-size: cover;
width: 250px;
height: 250px:



h2.White{
    color:
    text-align: center;;;;
}



Nav{
    display: flex;
    justify-content: space
    }


footer.Copy {
    border-top: 5 px solid
    background-color:blue
http://gochristopher.com
dev@gochristopher.com
}

